<footer>
    Designed in Boston

    <br>
    <div style="font-size: 1.5em;">
        <a href="https://github.com/jmahin"><i class="fa-brands fa-github"></i></a>
        <a href="https://linkedin.com/in/mahinjo"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://codesquad.org"><i class="fa-solid fa-code"></i></a>
        </div>
    </div>
</footer>
</body>

</html>