<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <title>Explore Boston's farmers' markets!</title>
    <link href="/css/style.css" rel="stylesheet" />
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <script src="https://kit.fontawesome.com/3b3578b8a5.js" crossorigin="anonymous"></script>
</head>

<body>

    <section class="layout">

        <header>
            <div class="logo">
                <h1>markett</h1>
            </div>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </header>