<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <title>Explore Boston's farmers' markets!</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <script defer src="scripts/scripts.js"></script>
</head>

<body>

    <section class="layout">

        <div class="sidebar">
            <div class="logo">
                <h1>markett</h1>
            </div>

            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <!-- When sidebar is collapsed, need to reduce width of contents within content -->
            <!-- <p align="center">
                <button onclick="hideSide()"> Click to hide the sidebar!</button>
            </p> -->
        </div>
        <div class="content">

            <h1>Discover farmers' markets and coops in the greater Boston area:</h1>
            <div class="allresources">
                <div class="resource">
                    <!-- Template -->
                    <h3>
                        <%= resname %>
                    </h3>
                    <p>
                        <b>Address:</b>
                        <%= address %><br>
                            <b>Hours of operation:</b>
                            <%= hoursOpen %><br>
                                <b>Season:</b>
                                <%= season %><br>
                                    <b>Website:</b>
                                    <%= website %><br>
                    </p>
                </div>
                <div class="resource">
                    <!-- Template -->
                    <h3>
                        <%= resname %>
                    </h3>
                    <p>
                        <b>Address:</b>
                        <%= address %><br>
                            <b>Hours of operation:</b>
                            <%= hoursOpen %><br>
                                <b>Season:</b>
                                <%= season %><br>
                                    <b>Website:</b>
                                    <%= website %><br>
                    </p>
                </div>

            </div>

            <p> text otherwise appears like this!</p>
        </div>

    </section>
    <footer>Designed in Boston</footer>
</body>

</html>