:root {
    --navhover: hsl(97, 72%, 76%);
    --sidebar: #6ea24d;
    --text: #000;
    --sidebartext: #221100;
    --content: #EBF5DF;
    --contenttext: #3C620E;
    --lcolor: #FFF;
    --lvisit: #0A210F;
    --lhover: #B5E994;
    --lactive: #900E51;
    --h1: #0A210F;
    --h1content: #4B3F72;
    --tabn: #DFDFDF;
    --box: #FFF;
    --resourcebin: #f7f7f7;
    --navhover: #8DC669;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.css");
html,
body {
    margin: 0px;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    letter-spacing: -1%;
}
p {
    line-height: 1.5;
}
.layout {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    height: 80%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
header {
    background-color: var(--sidebar);
    color: var(--sidebartext);
    width: 100%;
    padding: 1%;
    font-family: "Space Grotesk";
    display: flex;
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
}

/* .sidebar a:hover {
    background-color: #E6FF9B;
} */
.content {
    background-color: var(--box);
    color: var(--text);
    padding: 2%;
    width: 100%;
    height: 80%;
    overflow-y: auto;

}
h1 {
    color: var(--h1);
    font-family: "Space Grotesk";
}

h1:hover {
    color: var(--h1content);
}

.logo h1 {
    width: 2em;
    color: var(--lcolor);
    margin: 2%;
}

.logo h1:hover {
    text-decoration: overline;
    font-style: italic;
}
h3 {
    font-family: "Playfair Display";
}
footer {
    background-color: var(--text);
    color: var(--content);
    font-family: "Muli";
    text-align: center;
    padding: 1%;
    height: 100vh;
    float: bottom;
    /* position: fixed; */

}
footer a:hover {
    transition-duration: 0.5s;
}
a:link {
    text-decoration: none;
    color: var(--text);
}

a:visited {
    text-decoration: line-through;
    color: var(--lvisit);
}

a:hover {
    text-decoration: underline;
    color: var(--h1content);
}
a:active {
    color: var(--lactive);
}
.sidebar a:active {
    color: var(--lcolor);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
li a:link {
    text-transform: uppercase;
    margin: 2%;
}
li a:hover {
    color: var(--box);
    text-decoration: underline;
    text-decoration-color: var(--box);
    text-underline-offset: 10px;
}
b {
    color: var(--h1);
}
input[type=text] {
    border-right: solid 5px var(--lhover);
    border-bottom: solid 5px var(--sidebar);
    border-top: solid 0px;
    border-left: solid 0px;
    border-radius: 20px;
    color: var(--sidebartext);
}
form {
    width: 500px;
}
.form-group label {
    flex: none;
    display: block;
    width: 180px;
    font-weight: bold;
  }
.form-group {
    display: flex;
    flex-direction: row;
  }
  .form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
  }
input[type=text]:hover {
    color: var(--lactive);
    background-color: var(--resourcebin);
    transition-duration: 0.5s;
}
.formwrapper {
    width: 400px;
}
input[type=textarea] {
    width: 250px;
    height: 100px;
    border-right: solid 5px var(--lhover);
    border-bottom: solid 5px var(--sidebar);
    border-top: solid 0px;
    border-left: solid 0px;
    border-radius: 20px;
    color: var(--sidebartext);
}
input[type=textarea]:hover {
    color: var(--lactive);
    background-color: var(--resourcebin);
    transition-duration: 0.5s;
}
button {
    background-color: var(--lhover);
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    transition-duration: 0.5s;
    font-family: "Space Grotesk";
    font-weight: bold;
}
button:hover {
    background-color: var(--h1content);
    color: var(--box);
}
checkbox:checked {
    color: var(--box);
    background-color: var(--sidebar);
}
table {
    border-collapse: collapse;
    width: fit-content;
}
th,
td {
    text-align: left;
    padding: 8px;
}
th:first-child {
    text-align: center;
}
th,
td:first-child {
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: var(--resourcebin);
}
.allresources {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.resource {
    background-color: var(--resourcebin);
    padding: 2%;
    width: 20%;
    margin: .5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow-wrap: break-word;
}
.resource a:link {
    text-transform: none;
}
.resource a:hover {
    color: var(--lactive);
}
@media only screen and (max-width: 600px) {
    /* add a hamburger menu icon */
    /* change the styling on links of sidebar in mobile */


    /* .resource {
    outline: 0px;
    outline-offset: 0px;
} */
/* modify flex for resources */
}

@media only screen and (max-width: 480px) {
    .nav {
        display: none;
    }
    .logo {
        display: none;
    }
}