:root {
    --navhover: hsl(97, 72%, 76%);
    --sidebar: #6ea24d;
    --text: #000;
    --sidebartext: #221100;
    --content: #EBF5DF;
    --contenttext: #3C620E;
    --lcolor: #FFF;
    --lvisit: #0A210F;
    --lhover: #B5E994;
    --lactive: #900E51;
    --h1: #0A210F;
    --h1content: #4B3F72;
    --tabn: #DFDFDF;
    --resourcebin: #f7f7f7;
    --navhover: #8DC669;
}
html,
body {
    margin: 0px;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    letter-spacing: -1%;
}
html {
    height: 100%;
}
p {
    line-height: 1.5;
}
.layout {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
header {
    background-color: var(--sidebar);
    color: var(--sidebartext);
    width: 100%;
    padding: 1%;
    font-family: "Space Grotesk";
    display: flex;
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
}
.content {
    background-color: var(--lcolor);
    color: var(--text);
    padding: 2%;
    height: 100%;
    /* display: inline-block; */
    overflow-y: auto;
}
h1 {
    color: var(--h1);
    font-family: "Space Grotesk";
}

h1:hover {
    color: var(--h1content);
}

.logo h1 {
    width: 2em;
    color: var(--lcolor);
    margin: 2%;
}

.logo h1:hover {
    text-decoration: overline;
    font-style: italic;
}
.menu {
    color: var(--text);
    text-align: right;
    display: none;
    transition-duration: 0.5s;
}
h3 {
    font-family: "Playfair Display";
}
footer {
    background-color: var(--text);
    color: var(--content);
    text-align: center;
    padding: 1%;
    float: bottom;

}
footer a:hover {
    transition-duration: 0.5s;
}
a:link {
    text-decoration: none;
    color: var(--text);
}
a:visited {
    text-decoration: line-through;
    color: var(--lvisit);
}
a:hover {
    text-decoration: underline;
    color: var(--h1content);
}
a:active {
    color: var(--lactive);
}
.sidebar a:active {
    color: var(--lcolor);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
li a:link {
    text-transform: uppercase;
    margin: 2%;
}
li a:hover {
    color: var(--lcolor);
    text-decoration: underline;
    text-decoration-color: var(--lcolor);
    text-underline-offset: 10px;
}
b {
    color: var(--h1);
}
input[type=text] {
    border-right: solid 5px var(--lhover);
    border-bottom: solid 5px var(--sidebar);
    border-top: solid 0px;
    border-left: solid 0px;
    border-radius: 20px;
    color: var(--sidebartext);
}
input[type=url] {
    border-right: solid 5px var(--lhover);
    border-bottom: solid 5px var(--sidebar);
    border-top: solid 0px;
    border-left: solid 0px;
    border-radius: 20px;
    color: var(--sidebartext);
}
form {
    width: 500px;
}
.form-group label {
    flex: none;
    display: block;
    width: 180px;
    font-weight: bold;
  }
.form-group {
    display: flex;
    flex-direction: row;
  }
  .form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}
input[type=text]:hover {
    color: var(--lactive);
    background-color: var(--resourcebin);
    transition-duration: 0.5s;
}
input[type=url]:hover {
    color: var(--lactive);
    background-color: var(--resourcebin);
    transition-duration: 0.5s;
}
.formwrapper {
    width: 50%;
}
input[type=textarea] {
    width: 250px;
    height: 100px;
    border-right: solid 5px var(--lhover);
    border-bottom: solid 5px var(--sidebar);
    border-top: solid 0px;
    border-left: solid 0px;
    border-radius: 20px;
    color: var(--sidebartext);
    resize: both;
}
input[type=textarea]:hover {
    color: var(--lactive);
    background-color: var(--resourcebin);
    transition-duration: 0.5s;
}
button {
    background-color: var(--lhover);
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    transition-duration: 0.5s;
    font-family: "Space Grotesk";
    font-weight: bold;
}
button:hover {
    background-color: var(--h1content);
    color: var(--lcolor);
}
table {
    border-collapse: collapse;
    width: fit-content;
}
th,
td {
    text-align: left;
    padding: 8px;
}
th:first-child {
    text-align: center;
}
th,
td:first-child {
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: var(--resourcebin);
}
.allresources {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.resource {
    background-color: var(--resourcebin);
    padding: 2%;
    width: 20%;
    margin: .5%;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow-wrap: break-word;
}
.resource a:link {
    text-transform: none;
}
.resource a:hover {
    color: var(--lactive);
}
@media only screen and (max-width: 600px) {
    /* nav {
        display: none;
    } */
    nav {
        display: flex;
        justify-content: right;
    }
    header {
        background-color: var(--lhover);
        transition: ease 0.5s;
        text-align: right;
        height: 100px;
        color: var(--h1);
    }
    .logo h1 {
        color: var(--text);
    }
    form {
        width: fit-content;
    }
    .allresources {
        flex-direction: column;
    }
    .resource {
        width: 300px;
        max-width: 100%;
    }
    /* .menu:hover {
        color: var(--lcolor);
        transition: ease 0.5s;
    } */

}