<%- include('../partials/head') -%>


    <div class="content">
        <h1>About</h1>
        <p><i><u>markett</i></u> aims to provide a listing of local farmers' markets and coops in the greater Boston
            area.</p>
        <p>This website is designed and maintained by <a href="https://www.linkedin.com/in/mahinjo">Mahin
                Jalalkhan</a>, a <a href="https://codesquad.org">CodeSquad</a> student.</p>

    </div>
    <%- include('../partials/footer') -%>