<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="content">
        <h1>Add a resource</h1>
        <p>Would you like to add a resource to our list? Add all relevant info here:</p>
        <p>
        <form action="/resadded" method="PUT">
            <div class="form-group">
                <label>Name of resource: </label><input type="text" id="resName"
                    placeholder="e.g. Copley Square Farmers Market" class="input-control" required>
            </div>

            <div class="form-group">
                <label>Address: </label><input type="text" id="resAddress" placeholder="e.g. 139 St James Ave"
                    class="input-control" required>
            </div>

            <div class="form-group">
                <label>Hours of operation: </label><input type="text" id="hoursOpen" placeholder="e.g. Thursday 8am-5pm"
                    class="input-control" required>
            </div>
            <div class="form-group">
                <label>Season: </label><input type="text" id="season" placeholder="e.g. May 13 - Nov 22, 2022"
                    class="input-control" required>
            </div>
            <div class="form-group">
                <label>Website: </label><input type="textarea" type ="url" id="resWeb" class="input-control" value="https://www.">
            </div>


            <label>&nbsp;</label>
            <input type="button" onclick="contactAdd()" value="Submit">


        </form>
        </p>
    </div>
    <%- include('../partials/footer') -%>