<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>
        <h1>Contact us</h1>
        <p>Any queries or concerns? Feel free to send us feedback.</p>
        <form>

            <b>Name: </b><input type="text" id="visitorName"><br>

            <b>Email address: </b><input type="text" id="visitorEmail">

            <b>Comment: </b><input type="text" id="visitorComment">


            <p><button type="button">Submit</button></p>

        </form>
        <%- include('../partials/footer') -%>