<%- include('../partials/head') -%>
<div class="content">
        <h1>Contact us</h1>
        <p>Any queries or concerns? Feel free to send us feedback.</p>
        <form>

            <b>Name: </b><input type="text" id="visitorName"><br>

            <b>Email address: </b><input type="text" id="visitorEmail"><br>

            <b>Comment: </b><input type="textarea" id="visitorComment">


            <p><button type="button">Submit</button></p>

        </form>
    </div>
        <%- include('../partials/footer') -%>