<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="content">
<h1>Thank you for contacting us!</h1>
<p>Your message has been received. We will respond within 48 hours of receipt.</p>
</div>
<%- include('../partials/footer') -%>