<%- include('../partials/head') -%>
    <%- include('../partials/nav') -%>
        <div class="content">
            <h1>Discover farmers markets and coöps in the greater Boston area:</h1>
            <div class="allresources">


                <!-- Resources -->

                <div class="resource">

                    <h3>Blue Hill Farmstand - Victory Programs</h3>
                    <p>
                        <b>Address: </b>
                        38 Fabyan St
                        <br>
                        <b>Hours of operation: </b>
                        Thursday 3-6pm
                        <br>
                        <b>Season: </b>
                        23 Jun to 20 Oct
                    </p>
                </div>

                <div class="resource">

                    <h3>South Boston Farmers Market</h3>
                    <p>
                        <b>Address: </b>
                        446 West Broadway
                        <br>
                        <b>Hours of operation: </b>
                        Monday 12-6pm
                        <br>
                        <b>Season: </b>
                        6 Jun to 31 Oct
                    </p>
                </div>
                <div class="resource">

                    <h3>Egleston Farmers Market</h3>
                    <p>
                        <b>Address: </b>
                        179 Amory Street
                        <br>
                        <b>Hours of operation: </b>
                        Saturday 10am- 2pm
                        <br>
                        <b>Season: </b>
                        21 May to 29 Oct
                    </p>
                </div>
                <div class="resource">

                    <h3>JP Centre Farmers' Market</h3>
                    <p>
                        <b>Address: </b>
                        677 Centre St
                        <br>
                        <b>Hours of operation: </b>
                        Tuesday, Saturday 12pm- 5pm
                        <br>
                        <b>Season: </b>
                        18 May to 19 Dec
                    </p>
                </div>
                <div class="resource">

                    <h3>Nubian Square Farmers Market</h3>
                    <p>
                        <b>Address: </b>
                        145 Dudley St
                        <br>
                        <b>Hours of operation: </b>
                        Thursday, Saturday 11am - 3pm
                        <br>
                        <b>Season: </b>
                        9 Jun to 29 Oct
                    </p>
                </div>
                <div class="resource">

                    <h3>Roslindale Farmers Market</h3>
                    <p>
                        <b>Address: </b>
                        4236 Washington St
                        <br>
                        <b>Hours of operation: </b>
                        Saturday 9am-1:30pm
                        <br>
                        <b>Season: </b>
                        4 Jun to 19 Nov
                    </p>
                </div>
                <div class="resource">

                    <h3>Mission Hill  Farmers Markets at Brigham Circle</h3>
                    <p>
                        <b>Address: </b>
                        725 Huntington Avenue
                        <br>
                        <b>Hours of operation: </b>
                        Thursday 11am-6pm
                        <br>
                        <b>Season: </b>
                        23 Jun to 15 Dec
                    </p>
                </div>
                <div class="resource">

                    <h3>Dudley Town Farmers Markets</h3>
                    <p>
                        <b>Address: </b>
                        378 Dudley Street
                        <br>
                        <b>Hours of operation: </b>
                        Thursday 2:30-6:15pm
                        <br>
                        <b>Season: </b>
                        16 Jun to 27 Oct
                    </p>
                </div>








            </div>
        </div>
        <%- include('../partials/footer') -%>