<%- include('../partials/head') -%>
<h1>Pending review</h1>
<p>Thank you for contributing to our database. Your entry will be reviewed by a member of our team within 24 hours.</p>
<%- include('../partials/footer') -%>